.MuiFormControl-root {
  .MuiFormHelperText-root {
    margin: 4px 0px 0px;
    font-size: 14px;
  }
}

.MuiTableBody-root > .MuiTableRow-root:last-child > .MuiTableCell-root {
  border-bottom: none;
}

.MuiDialog-root {
  .MuiDialogTitle-root {
    padding: 12px 16px;
    font-size: 24px;
    font-weight: 700;
  }
  .MuiDialogContent-root {
    padding: 16px;
  }
  .MuiDialogActions-root {
    padding: 12px 16px;
  }
}

.MuiLoadingButton-root {
  .MuiLoadingButton-loadingIndicator {
    position: static;
    left: 0px;
    margin-left: 4px;
  }

  &.MuiLoadingButton-loading {
    color: inherit !important;
  }
}

.SnackbarContainer-top {
  top: 92px !important;
}

.MuiMenu-root {
  > .MuiPaper-root {
    overflow: visible;
    margin-top: 12px;
    min-width: 180px;

    .MuiMenuItem-root {
      min-height: 40px;
      font-weight: 700;
      color: #000a;
      font-size: 14px;
    }
  }

  > .MuiPaper-root::before {
    // content: '';
    display: block;
    z-index: 0;
    position: absolute;
    top: 0px;
    right: 14px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: translateY(-50%) rotate(45deg);
  }
}
